<h2 mat-dialog-title *ngIf="!data.idCity">Incluir Cidade</h2>
<h2 mat-dialog-title *ngIf="data.idCity">Editar Cidade</h2>

<mat-dialog-content class="mat-typography">

  <form [formGroup]="formGroup">
    <mat-grid-list cols="12" rowHeight="60">

      <mat-grid-tile colspan="6">
        <mat-form-field class="form-field">
          <input matInput type="text" placeholder="Nome" formControlName="name" maxlength="50" required>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile colspan="6">
        <mat-form-field class="form-field">
          <mat-label>Estado</mat-label>
          <mat-select formControlName="idState" name="idState" required>
            <mat-option></mat-option>
            <mat-option *ngFor="let state of states" [value]="state.idState">
              {{state.name}} -  {{state.abbreviation}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>
  </form>

</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancelar</button>
  <button mat-button [disabled]="!formGroup.valid" (click)="save()" cdkFocusInitial>Salvar</button>
</mat-dialog-actions>
