html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.dashboard {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.dashboard .card {
  max-width: 600px;
  min-width: 600px;
  margin: 10px;
  flex-direction: column;
}
